
  @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
aside{
    background-color: #a8a29e;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 7;
    color: #292524;
}
.profile-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem;
    font-size: 1.5rem;
}
img{
    width: 20%;
    margin:1rem 1rem;
}
label ,input{
    display: block;
    width: 100%;
}
.data-insert{
    width: 100%;
    max-width: 400px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-size: 1.2rem;
}
.add-button{
    width: 100%;
    padding: 0.5rem 0.75rem;
    margin-top: 1rem;
    border-radius: 5px;
    border:none;
}
.delete-button{
    width: 60%;
    background-color: red;
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    border:none;
    cursor: pointer;
}
form{
    width: 80%;
}
form > input , form > label{
    margin-top: 1rem;
    border: none;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    outline: none;
}
.radio-flex{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.radio-flex input {
    width: 20%;
}
header{
    background-color: #57534e;
    grid-column-start: 2;
    grid-column-end: 5;
}
section{
    background-color: #fafaf9;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row:2/7;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows:repeat(3,1fr);
    gap: 2rem;
    padding: 1rem;
}
.card{
    background-color: #d6d3d1;
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 0.5rem;
}
.card>p {
    width: 60%;
    text-align: center;
}


main{
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(6,1fr);
}